<nav class="nav container">
    <a href="#" class="nav__logo">
        Daniel
    </a>
    <div class="nav__menu" id="nav-menu">
        <ul class="nav__list grid">
            <li class="nav__item">
                <a href="#home" class="nav__link active-link">
                    <i class="ri-home-5-line"></i> Home
                </a>
            </li>

            <li class="nav__item">
                <a href="#skills" class="nav__link">
                    <i class="ri-braces-line"></i> Skills
                </a>
            </li>

            <li class="nav__item">
                <a href="#qualification" class="nav__link">
                    <i class="ri-quill-pen-fill"></i> Qualification
                </a>
            </li>

            <li class="nav__item">
                <a href="#projects" class="nav__link">
                    <i class="ri-code-s-slash-line"></i> Projects
                </a>
            </li>

            <li class="nav__item">
                <a href="#bulletin" class="nav__link">
                    <i class="ri-chat-heart-fill"></i> Bulletin
                </a>
            </li>

            <li class="nav__item">
                <a href="#contact" class="nav__link">
                    <i class="ri-chat-3-line"></i> Contact
                </a>
            </li>
        </ul>
        <!-- Close button! -->
        <div class="nav__close" id="nav-close">
            <i class="ri-close-line"></i>
        </div>
    </div>

    <div class="nav__buttons">
        <!-- THEME change button! -->
        <i class="ri-moon-line change-theme" id="theme-button"></i>
        <!-- Toggle button -->
        <div class="nav__toggle" id="nav-toggle">
            <i class="ri-menu-4-line"></i>
        </div>
    </div>
</nav>