
<h2 class="section__title">Qualification</h2>
<span class="section__subtitle">Experience and education</span>
<div class="qualification__container container grid section__border">
    <div class="qualification__content">
        <!--==================== Work ====================-->
        <h3 class="qualification__title">
            <i class="ri-qq-fill"></i> Work
        </h3>
        <div class="qualification__info">
            <div>
                <span class="qualification__city">Gothenburg</span>
                <span class="qualification__year">June 2023 - January 2024</span>
                <h3 class="qualification__name">
                    System Developer, PengVin Affärssystem AB
                </h3>
            </div>
        </div>
        <div>
            <span class="qualification__city">Gothenburg</span>
            <span class="qualification__year">January 2023 - Present</span>
            <h3 class="qualification__name">
                Consultant, Academic Work AB
            </h3>
        </div>
        <div>
            <span class="qualification__city">Stockholm</span>
            <span class="qualification__year">June 2010 - Present</span>
            <h3 class="qualification__name">
                Freelance musician
            </h3>
        </div>
        <!--==================== Education ====================-->
        <h3 class="qualification__title">
            <i class="ri-quill-pen-fill"></i> Education
        </h3>
        <div class="qualification__info">
            <div>
                <span class="qualification__city">Stockholm</span>
                <span class="qualification__year">October 2022 - January 2023</span>
                <h3 class="qualification__name">
                    Brights Learning - C#.NET Fullstack Developer Winter 23
                </h3>
            </div>
            <div>
                <span class="qualification__city">Stockholm</span>
                <span class="qualification__year">August 2010 - June 2014</span>
                <h3 class="qualification__name">
                    Royal Academy of Music - Bachelor's degree - Musician
                </h3>
            </div>
        </div>
    </div>
    <img src="assets/img/shape-circle.svg" alt="qualification image" class="qualification__img">
</div>
