@using System.Diagnostics
<div class="home__container container grid section__border">
    <div class="home__data grid">
        <h1 class="home__title">
            Hi, I'm Daniel <br>
            <b>Fullstack Developer </b>
        </h1>
        <div class="home__blob grid">
            <div class="home__profile">
                <img class="" src="assets/img/test.png" alt="home profilepic">
            </div>
            <img src="assets/img/shape-wawes.svg" alt="" class="home__shape-wawes">
            <img src="assets/img/shape-circle.svg" alt="" class="home__shape-circle">
        </div>

        <div class="home__social">
            <a href="https://www.linkedin.com/in/daniel-angebrand-7b384824b" target="_blank" class="home__social-link">
                <i class="ri-linkedin-box-line">       </i>
            </a>

            <a href="https://github.com/danielangebrand/" target="_blank" class="home__social-link">
                <i class="ri-github-line"></i>
            </a>
        </div>
    </div>

    <!--==================== HOME info1 ====================-->
    <div class="home__info">
        <div>
            <h3 class="home__info-title">
                BIOGRAPHY
            </h3>
            <p class="home__info-description">
                Hi,
                I'm a Fullstack Developer
                based in Sweden. Passionate about code, music and perfumes
            </p>
        </div>
        <div>
            <h3 class="home__info-title">
                FULLSTACK DEVELOPER
            </h3>
            <p class="home__info-description">
                .NET Full Stack Developer<br>
                Open for work
            </p>
        </div>
        <div>
            <h3 class="home__info-title">
                SERVICES
            </h3>
            <p class="home__info-description">
                Fullstack,
                UI/UX
            </p>
        </div>
    </div>
    <!--==================== HOME info2 ====================-->
    <div class="home__info">
        <div>
            <h3 class="home__info-title">
                TIME SPENT LEARNING CODE
            </h3>
            <p class="home__info-number" id="elapsed-time" />
        </div>
        <div>
            <h3 class="home__info-title">
                COMPLETED PROJECTS
            </h3>
            <p class="home__info-number">
                5+
            </p>
        </div>
        <div>
            <h3 class="home__info-title">
                COMPANIES WORKED
            </h3>
            <p class="home__info-number">
                2+
            </p>
        </div>
    </div>
</div>
