<h2 class="section__title">Fullstack Developer</h2>
<span class="section__subtitle"><i class="ri-braces-fill"></i> Fullstack developing skills</span>
<div class="skills__container container grid section__border">
    <!--==================== Skill 1 ====================-->
    <div class="skills__content">
        <h3 class="skills__title">
            .NET
        </h3>
        <div class="skills__info">
            <div class="skills__data">
                <div class="skills__blob">
                    <img src="assets/img/c--4.svg" alt="skills image">
                </div>

                <h3 class="skills__name">C# </h3>
                <span class="skills__subtitle">Main language</span>
            </div>
            <div class="skills__data">
                <div class="skills__blob">
                    <img src="assets/img/c--4.svg" alt="skills image">
                </div>

                <h3 class="skills__name">ASP.NET</h3>
                <span class="skills__subtitle"></span>
            </div>
            <div class="skills__data">
                <div class="skills__blob">
                    <img src="assets/img/VB.svg" alt="skills image">
                </div>

                <h3 class="skills__name">VB.NET</h3>
                <span class="skills__subtitle"></span>
            </div>
            <div class="skills__data">
                <div class="skills__blob">
                    <img src="assets/img/c--4.svg" alt="skills image">
                </div>

                <h3 class="skills__name">ORM</h3>
                <span class="skills__subtitle">EF & Dapper </span>
            </div>
        </div>
    </div>
    <!--==================== Skill 2 ====================-->

    <div class="skills__content">
        <h3 class="skills__title">
            Frontend
        </h3>
        <div class="skills__info">
            <div class="skills__data">
                <div class="skills__blob">
                    <img src="assets/img/html-1.svg" alt="skills image">
                </div>
                <h3 class="skills__name">HTML</h3>
                <span class="skills__subtitle">Basic</span>
            </div>
            <div class="skills__data">
                <div class="skills__blob">
                    <img src="assets/img/css-3.svg" alt="skills image">
                </div>
                <h3 class="skills__name">CSS</h3>
                <span class="skills__subtitle">Basic</span>
            </div>
            <div class="skills__data">
                <div class="skills__blob">
                    <img src="assets/img/logo-javascript.svg" alt="skills image">
                </div>
                <h3 class="skills__name">JavaScript</h3>
                <span class="skills__subtitle">Basic</span>
            </div>
            <div class="skills__data">
                <div class="skills__blob">
                    <img src="assets/img/react-2.svg" alt="skills image">
                </div>
                <h3 class="skills__name">React </h3>
                <span class="skills__subtitle">Basic</span>
            </div>
            <div class="skills__data">
                <div class="skills__blob">
                    <img src="assets/img/uiux.png" alt="skills image">
                </div>
                <h3 class="skills__name">UI / UX </h3>
                <span class="skills__subtitle">Basic</span>
            </div>
        </div>
    </div>
    <!-- =========== SKILLS 3 ============  -->
    <div class="skills__content">
        <h3 class="skills__title">
            Other skills
        </h3>
        <div class="skills__info">
            <div class="skills__data">
                <div class="skills__blob">
                    <img src="assets/img/microsoft-sql-server-1.svg" alt="skills image">
                </div>
                <h3 class="skills__name">Database</h3>
                <span class="skills__subtitle">SQL & T-SQL</span>
            </div>
            <div class="skills__data">
                <div class="skills__blob">
                    <img src="assets/img/git-icon.svg" alt="skills image">
                </div>
                <h3 class="skills__name">Git</h3>
                <span class="skills__subtitle"></span>
            </div>
            <div class="skills__data">
                <div class="skills__blob">
                    <img src="assets/img/check-line.svg" alt="skills image">
                </div>
                <h3 class="skills__name">TDD</h3>
                <span class="skills__subtitle">SpecFlow, Gherkin</span>
            </div>
            <div class="skills__data">
                <div class="skills__blob">
                    <img src="assets/img/scrumorg-1.svg" alt="skills image">
                </div>
                <h3 class="skills__name">SCRUM </h3>
                <span class="skills__subtitle"></span>
            </div>
        </div>
    </div>
</div>
