<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.0.1/remixicon.css" rel="stylesheet">

    <!--=============== SCROLLREVEAL ===============-->
    <script src="assets/js/scrollreveal.js"></script>

      <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="/Assets/CSS/swiper-bundle.css" />

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="/Assets/CSS/styles.css" />

    <title>DanielAngebrand.com - Responsive Website</title>
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>

    <!--=============== SWIPER JS ===============-->

    <script src="../Assets/JS/swiper-bundle.js"></script>

    <!--=============== EMAIL JS ===============-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@@emailjs/browser@3/dist/email.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script type="module" src="../Assets/JS/main.js"></script>
</body>

</html>
